/*

© Copyright 2012-2016 Alex Jordan

This file is part of strugee.net.

strugee.net is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

strugee.net is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with strugee.net.  If not, see <http://www.gnu.org/licenses/>.x

*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1 {
  font-size: 38.5px;
}
h2 {
  font-size: 31.5px;
}
h3 {
  font-size: 24.5px;
}
h4 {
  font-size: 17.5px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11.9px;
}
h1,
h2,
h3 {
  line-height: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
}
nav {
  display: block;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
a {
  color: #08c;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
code,
pre {
  padding: 0 3px 2px;
  color: #333;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre {
  color: #333;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #c9c9c9;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
#container {
  max-width: 50em;
  margin: 0 auto;
  padding: 1.5em;
  background-color: #f0f0f0;
}
#topheader {
  font-family: monospace, "Courier New", Courier, mono;
}
.navlink {
  list-style-type: none;
  display: inline;
}
footer {
  text-align: center;
}
.navlink,
footer {
  text-transform: uppercase;
  font-size: 0.75em;
}
#navlabel {
  color: #686868;
}
#toys {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #d8d8d8;
  padding: 4px;
  border-radius: 3px;
}
.image-center {
  margin: auto;
}
#postsFrom,
.post-metadata,
#webmention-replies-header {
  color: #686868;
  text-transform: uppercase;
  font-size: 0.75em;
}
hr {
  height: 2px;
  background-color: #c2c2c2;
  border-color: rgba(255,255,255,0);
}
.webmention-avatar {
  width: 25px;
  height: 25px;
}
.talk-title {
  font-size: 24.5px;
}
/* Night mode transitions */
#container,
body {
  transition: background-color, 1.5s;
}
h1,
h2,
h3,
p,
li,
footer,
#navlabel {
  transition: color, 1.75s;
  transition: text-shadow, 1.5s;
}
code,
pre,
#toys {
  transition: background-color, 1.5s;
}
/* Mobile responsive */
@media (max-width: 375px) {
  .navlink {
    display: inline;
  }
  #navlabel {
    display: none;
  }
}
