meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width')
link(rel='preload', href='https://members.internetdefenseleague.org/include/?url=&campaign=&variant=modal')
link(rel='stylesheet', href='/css/font-awesome.min.css')
link(rel='stylesheet', href='/css/main.css')
<!--[if gte IE 8]> <link rel="stylesheet" href="/css/ie9.css"> <![endif]-->
