// IndieWeb components, with <3
link(rel='me', href='mailto:alex@strugee.net')
link(rel='me', href='sms:17607054581')
link(rel='me', href='https://github.com/strugee')
link(rel='me', href='https://twitter.com/strugee2')
link(rel='me', href='https://plus.google.com/+AlexJordan')
