// IndieWeb components, with <3
//- Consider updating /contact at the same time
//- TODO fix this to just resolve to /contact - see https://indieweb.org/antipatterns#invisible_metadata
link(rel='me', href='mailto:alex@strugee.net')
link(rel='me', href='sms:17607054581')
link(rel='me', href='xmpp:alex@strugee.net')
link(rel='me', href='https://github.com/strugee')
link(rel='me', href='https://twitter.com/strugee2')
link(rel='me', href='https://plus.google.com/+AlexJordan')
link(rel='me', href='https://pump.strugee.net/alex')
link(rel='me', href='https://pod.strugee.net/people/82e1c9a030600133e0ca20474782d58c')
link(rel='me', href='https://media.strugee.net/alex')
link(rel='me', href='https://twitter.com/strugee2')
link(rel='me', href='https://plus.google.com/+AlexJordan')
link(rel='me', href='https://www.instagram.com/strugee2/')
