doctype html

//
	© Copyright 2012-2018 AJ Jordan
	This file is part of strugee.net.
	strugee.net is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	strugee.net is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.	See the
	GNU Affero General Public License for more details.
	You should have received a copy of the GNU Affero General Public License
	along with strugee.net.	If not, see <http://www.gnu.org/licenses/>.

// Made and coded by AJ Jordan

html(lang='en')
	head
		include ../includes/header
		script(src='/js/main.js', defer)
		block head
		include ../includes/indieweb

	body
		#container
			header
				h1#topheader strugee.net
				nav#navbar
					ul
						li#navlabel.navlink Nav &nbsp;::
						block nav-home
							li.navlink
								a(href='/') Home
						block nav-services
							li.navlink
								a(href='/services') Services
						block nav-projects
							li.navlink
								a(href='/projects/') Projects
						block nav-talks
							li.navlink
								a(href='/talks') Talks
						block nav-gpg
							li.navlink
								a(href='/gpg') GPG Key
						block nav-contact
							li.navlink
								a(href='/contact') Contact
						block nav-blog
							li.navlink
								a(href='/blog/') Blog

			#content
				block content

			include ../includes/footer
			#toys(data-turbolinks-permanent)
				a#monospace-icon(href='javascript:void(0);', aria-label='Tilde button to enable monospace-style webpage display', title='Inspired by a forgotten-by-me tilde.club member who (~droob?) was "making [their] life" monospace.') ~
				a#lightbulb-icon(href='javascript:void(0);', aria-label='Lightbulb button to enable dark webpage display')
					.icon-lightbulb

			script(data-turbolinks-eval='false').
				window._idl = {};
				_idl.variant = "modal";
				(function() {
					var idl = document.createElement('script');
					idl.async = true;
					idl.src = 'https://members.internetdefenseleague.org/include/?url=' + (_idl.url || '') + '&campaign=' + (_idl.campaign || '') + '&variant=' + (_idl.variant || 'modal');
					document.getElementsByTagName('body')[0].appendChild(idl);
				})();
