extends /src/includes/layout.jade

include /src/includes/post.jade

block head
	title #{file.data.title} - strugee.net
	link(rel='preconnect', href="https://webmention.io/")
	link(rel='pingback', href='https://webmention.io/strugee.net/xmlrpc')
	link(rel='webmention', href='https://webmention.io/strugee.net/webmention')
	script(src='/js/webmentions.js')

block content
	+renderPost(file, '/blog/', false)

	hr
	p#webmention-replies-header WebMention replies

	div#webmentions
	noscript
		p Couldn't load WebMentions because you turned your JavaScript off. Sorry about that!
