mixin postMetadata(author, categories)
	p.post-metadata Published by #[a.p-author.h-card(href='https://strugee.net/', rel='author')= author] and categorized as 
		for category, index in categories
			a(href='/blog/category/' + category + '/') #{category}
			if index < categories.length - 1
			| ,  
