#container {
	max-width: 40em;
	margin: 0px auto;
	padding: 1.5em;
	background-color: #F0F0F0;
}

#topheader {
	font-family: monospace, "Courier New", Courier, mono;
}

:serviceblock {

}

#ssh {

}

#emergence {

}

#ftp {

}