extends ../includes/layout.jade

include ../includes/post-metadata.jade

block head
	title #{metadata.title} - strugee.net
	link(rel='pingback', href='https://webmention.io/strugee.net/xmlrpc')
	link(rel='webmention', href='https://webmention.io/strugee.net/webmention')

block content
	article.h-entry(itemscope, itemtype='http://schema.org/BlogPosting')
		h1.p-name= metadata.title

		+postMetadata(metadata.author, metadata.categories)
		.e-content!= text
