extends ../includes/layout.jade

block head
	title #{metadata.title} - strugee.net
	link(rel='pingback', href='https://webmention.io/strugee.net/xmlrpc')
	link(rel='webmention', href='https://webmention.io/strugee.net/webmention')

block content
	article.h-entry(itemscope, itemtype='http://schema.org/BlogPosting')
		h1.p-name= metadata.title
		p Published by #[a.p-author.h-card(href='https://strugee.net/', rel='author')= metadata.author]
		.e-content!= text
