extends ../includes/layout.jade

block head
	title #{metadata.title} - strugee.net

block content
	article(itemscope, itemtype='http://schema.org/BlogPosting')
		h1 #{metadata.title} (published by #{metadata.author})
		!= text
