doctype html

//
	© Copyright 2012, 2013, 2014 Alex Jordan
	This file is part of strugee.net.
	strugee.net is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	strugee.net is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.	See the
	GNU Affero General Public License for more details.
	You should have received a copy of the GNU Affero General Public License
	along with strugee.net.	If not, see <http://www.gnu.org/licenses/>.

// Made and coded by Alex Jordan

html(lang='en')
	head
		include ../includes/header-subdir.jade
		include ../includes/indieweb.jade
		title #{metadata.title} - strugee.net
	body
		<!--[if lt IE 7]><p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.<![endif]-->
		#container
			header
				section
					h1#topheader strugee.net
					nav#navbar
						ul
							li#navlabel.navlink Nav ::
							li.navlink
								a(href='../index') Home
							li.navlink
								a(href='../services') Services
							li.navlink
								a(href='../projects') Projects
							li.navlink
								a(href='../gpg') GPG Key
							li.navlink
								a(href='http://ramblingsfromalex.blogspot.com') Blog
			section
				h1 #{metadata.text} (published by #{metadata.author})

			section!= text

			include ../includes/footer.jade
		#toys
			a#lightbulb-icon(href='#')
				.icon-lightbulb
		script(type='text/javascript', src='/js/main.js')
		script(type='text/javascript', src='/js/idl.js')
