extends ../includes/layout.jade

block head
	title #{metadata.title} - strugee.net

block content
	article.h-entry(itemscope, itemtype='http://schema.org/BlogPosting')
		h1.p-name= metadata.title
		p Published by #[a.p-author.h-card(href='https://strugee.net/', rel='author')= metadata.author]
		.e-content!= text
