/*

© Copyright 2012-2016 AJ Jordan

This file is part of strugee.net.

strugee.net is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

strugee.net is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with strugee.net.  If not, see <http://www.gnu.org/licenses/>.x

*/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "lib/base"

#container {
	max-width: 50em;
	margin: 0 auto;
	padding: 1.5em;
	background-color: #F0F0F0;
}

img {
	width: 100%;
}

#topheader {
	font-family: monospace, "Courier New", Courier, mono;
}

.navlink {
	list-style-type: none;
	display: inline;
	margin-right: 2px;
}

footer {
	text-align: center;
}

.navlink, footer {
	text-transform: uppercase;
	font-size: .75em;
}

#navlabel {
	color: #686868;
}

#toys {
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-color: #D8D8D8;
	padding: 4px;
	border-radius: 3px;
}

.image-center {
	margin: auto;
}

#postsFrom, .post-metadata, #webmention-replies-header {
	color: #686868;
	text-transform: uppercase;
	font-size: .75em;
}

hr {
	background-color: #c2c2c2;
	border-color: rgba(255, 255, 255, 0);
}

.webmention-avatar {
	width: 25px;
	height: 25px;
}

#pages-footer {
	text-align: center;
}

.talk-title {
	font-size: 24.5px;
}

.small-robotics-presentation, .rc-presentation {
	display: inline-block;
	/* Just under 1/2 of 50em, #container's max-width */
	width: 24.75em;
}

.maintainer-status {
	display: inline;
	border-color: #bfccd1;
	border: 1px solid rgba(27,31,35,0.1);
	border-radius: 3px;
	color: #586069;
	padding: 3px 6px;
	margin: 0px 9px;
	margin-top: -5px;
}

.maintainer-status-header {
	display: inline;
}

/* Night mode transitions */

#container, body {
	transition: background-color, 1.5s;
}

h1, h2, h3, p, li, footer, #navlabel {
	transition: color, 1.75s;
	transition: text-shadow, 1.5s;
}

code, pre, #toys {
	transition: background-color, 1.5s;
}

/* Mobile responsive */

@media (max-width: 375px) {
	.navlink {
		display: inline;
	}
	
	#navlabel {
		display: none;
	}
}
