/*

© Copyright 2017 AJ Jordan

This file is part of strugee.net.

strugee.net is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

strugee.net is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with strugee.net.  If not, see <http://www.gnu.org/licenses/>.

*/

#container {
	max-width: 70em;
}

#container, body {
	background-color: inherit;
	font-family: monospace;
}

code, pre {
	background-color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 93%;
	margin: inherit;
	text-transform: uppercase;
}

ul {
	list-style: '* ';
}

a {
	// This doesn't actually work almost anywhere yet according to MDN
	// But eventually it will kick in, and it will be good.
	color: revert;
}

pre, code {
	border: none;
	margin: none;
	padding: none;
}

#navlabel {
	margin-left: -25px;
}

#toys {
	background-color: inherit;
	border: medium solid #50;
}

footer {
	margin-top: 50px;
	text-align: left;
}
