extends ./includes/layout.jade

block head
	title CryptoParty Seattle - strugee.net
	meta(name='description', content='CryptoParty Seattle landing page')

block content
	img(src='../images/CryptoPartyLogo.svg' alt='CryptoParty' class='image-center')
	section
		h1 What is this?
		p Here you will find the slides for all CryptoParties, past and present. Built with &lt;3 using <a href="https://github.com/markdalgleish/bespoke.js">Bespoke.js</a>.
	section
		h3 CryptoParty Seattle, August 2014 - <a href="original">slides</a>, <a href="https://github.com/strugee/cryptoparty-seattle/releases/tag/2014">GitHub</a>
		h3 CryptoParty Seattle Redux, June 2015 - <a href="redux">slides</a>, <a href="https://github.com/strugee/cryptoparty-seattle/releases/tag/2015">GitHub</a>
