extends ./includes/layout

//- Make sure to update src/includes/indieweb.pug at the same time
//- TODO fix this - see https://indieweb.org/antipatterns#invisible_metadata

block head
	title Contact - strugee.net
	meta(name='description', content='AJ Jordan\'s contact page')

block nav-contact
	li.navlink Contact

block content
	section
		h2#hi Contact
		p There are numerous ways to contact me:
		ul
			li
				a(rel='me', href='xmpp:alex@strugee.net') By XMPP
				|  (much preferred)
			li On IRC (I am <code>strugee</code> on Freenode, MozNet, GIMPNet, OFTC, and the W3C IRC servers)
			li
				a(rel='me', href='mailto:alex@strugee.net') By email
			li By SMS or preferably, Signal - number available upon request

		p If you need to communicate with me securely, use OMEMO over XMPP, Signal, or Ricochet. I accept <a href="/gpg">GPG-encrypted mail</a> but would much prefer to use something else.

		p If you need to send files to me and you're on Nextcloud or ownCloud, you can and should send them using my <a href="https://owncloud.org/federation/">Federated Cloud ID</a>, <code>alex@cloud.strugee.net</code>:

		p
			a(target='_blank', rel='noreferrer noopener', href='https://nextcloud.com/sharing#alex@cloud.strugee.net', style='padding:10px;background-color:#0082c9;color:#ffffff;border-radius:3px;padding-left:4px;')
				span(style='background-image:url(https://cloud.strugee.net/core/img/logo/logo.svg?v=0);width:50px;height:30px;position:relative;top:8px;background-size:contain;display:inline-block;background-repeat:no-repeat; background-position: center center;')
				| Share with me via Nextcloud

		p You can also find me on a couple other sites/networks:
		ul
			li
				a(rel='me', href='https://pump.strugee.net/alex') pump.io
				| , which I prefer for social networking (my account syndicates to Twitter)
			li
				a(rel='me', href='https://pod.strugee.net/people/82e1c9a030600133e0ca20474782d58c') diaspora*
			li
				a(rel='me', href='https://media.strugee.net/u/alex') MediaGoblin
				| , which I prefer for media sharing
			li
				a(rel='me', href='https://gitlab.com/strugee') GitLab.com
			li
				a(rel='me', href='https://github.com/strugee') GitHub
				| , which (sadly) I prefer for code hosting - at least until GitLab is federated

		p You can also find me <a rel="me" href="https://twitter.com/strugee2">on Twitter</a> and <a rel="me" href="https://www.instagram.com/strugee2/">on Instagram</a>, but you really should not do so. These networks run non-freedom-respecting network services, and so I tend to avoid them if at all possible (and you should too!). (The fact that I avoid them also means that I don't check them a lot, so they're also pretty bad ways of getting in touch.)
