extends ./includes/layout

block head
	title GPG Key - strugee.net
	meta(name='description', content='AJ Jordan\'s cryptographic GPG keys')

block nav-gpg
	li.navlink GPG Key

block content
	section
		h2 GPG Key
		p I (relunctantly) use OpenPGP via GnuPG. I am the owner of three keys:
		ul
			li 0x43BF769C4ACA8B96 is the master key. It is 4096-bit RSA and has the fingerprint <code>C46D 8E7A 3F13 AD1C 8EC6	7848 43BF 769C 4ACA 8B96</code>. You should sign this key at keyparties and other events. I will use this key to sign your key at keyparties and other events.
			li 0x26794034633DBBC0 is the signing subkey. It is 4096-bit RSA. You should use this key to verify signatures created by me.
			li 0xC62DAAAE93A31C56 is the encryption subkey. It is 4096-bit RSA. You should use this key to encrypt emails sent to me.
		p Of course, you should verify that the details above are correct by meeting me in person, but since that's usually inpractical I have put copies of this key in as many places as possible to help people verify that these keys are legitimate. Having copies in many independent, reasonably difficult to subvert places isn't perfect, but it's a whole lot better than nothing, so here's the list:
			ul
				li #[a(href='https://keybase.io/strugee') Keybase] which cryptographically ties these keys to most of my social media
				li The <code>keys.gnupg.net</code> network
				li #[a(href='/pubkey.asc') This site]
				li My #[a(href='https://github.com/strugee.gpg') GitHub account]
		p Note that the signatures on a lot of these might be out of date though.
		p I used to use a #[a(href='https://www.nitrokey.com/') Nitrokey Storage] to protect my subkeys during day-to-day use, but unfortunately I lost it (note though that the Nitrokey is tamper-resistant and I have no reason to believe anyone was able to get their hands on the key material). Since August 2018 I have used an airgapped <code>vault</code> qube in <a href="https://www.qubes-os.org/">Qubes OS</a> to protect my subkeys.
		p I also own the key 0xa8da10c057f65fa7. It was uploaded to <code>keys.gnupg.net</code> and <code>keyserver.ubuntu.com</code>. This GPG key has the following fingerprint:
		pre
			code B105 3164 B6C8 F4F7 C2B4	356F A8DA 10C0 57F6 5FA7
		p This key has been revoked due to the fact that it has been superceded by the above keys. See the revocation text for details.
