extends ./includes/layout

block head
	title GPG Key - strugee.net
	meta(name='description', content='AJ Jordan\'s cryptographic GPG keys')

block nav-gpg
	li.navlink GPG Key

block content
	section
		h2 GPG Key
		p I (relunctantly) use OpenPGP via GnuPG. I am the owner of three keys:
		ul
			li 0x43BF769C4ACA8B96 is the master key. It is 4096-bit RSA and has the fingerprint <code>C46D 8E7A 3F13 AD1C 8EC6	7848 43BF 769C 4ACA 8B96</code>. You should sign this key at keyparties and other events. I will use this key to sign your key at keyparties and other events.
			li 0x26794034633DBBC0 is the signing subkey. It is 4096-bit RSA. You should use this key to verify signatures created by me.
			li 0xC62DAAAE93A31C56 is the encryption subkey. It is 4096-bit RSA. You should use this key to encrypt emails sent to me.
		p Of course, you should verify that the details above are correct by meeting me in person, but since that's usually inpractical you can also find verifications of my social media on #[a(href='https://keybase.io/strugee') Keybase]. All three of these keys have been uploaded to the <code>keys.gnupg.net</code> network, and you can find a copy on this site #[a(href='/pubkey.asc') here] (although the signatures may be out-of-date).
		p Since January 2018, I have used a #[a(href='https://www.nitrokey.com/') Nitrokey Storage] to protect my subkeys during day-to-day use.
		p I also own the key 0xa8da10c057f65fa7. It was uploaded to <code>keys.gnupg.net</code> and <code>keyserver.ubuntu.com</code>. This GPG key has the following fingerprint:
		pre
			code B105 3164 B6C8 F4F7 C2B4	356F A8DA 10C0 57F6 5FA7
		p This key has been revoked due to the fact that it has been superceded by the above keys. See the revocation text for details.
