extends ./includes/layout.jade

block head
	title Home - strugee.net
	meta(name='description', content='AJ Jordan\'s home page')
	link(rel='pingback', href='https://webmention.io/strugee.net/xmlrpc')
	link(rel='webmention', href='https://webmention.io/strugee.net/webmention')

block nav-home
	li.navlink Home

block content
	section
		h2#hi Hi!
		p Heyo, I'm <span class="p-name">AJ Jordan</span>, sometimes known as Alex. I'm 19, live in Washington, and cofounded <a href="http://nightlightweb.github.io">Nightlight Web</a> with my buddy <a href="http://jacksondc.com">Jackson</a>. Love that guy.
	section
		h2#interesting Q: Shut up about yourself, do you have anything interesting to show me?
		p A: Yes! Take a look at the <a href="projects">projects</a> page.
		p Note: this section is specifically aimed towards those of you who will think about accusing me of not having real content, and will make a remark about <a href="http://catb.org/esr/html-hell.html">retiring to Aruba tomorrow with a bevy of supermodels</a>.
	section
		h2#passions Passions of mine
		p I seriously love code. I primarily prefer to write projects in JavaScript, and consider myself pretty good at it. I'm a hardcore Unix fan and use the commandline for virtually everything, to the point where instead of using a graphical file manager, I generally use GNU coreutils (stuff like <code>ls</code>, <code>mv</code>, <code>cp</code>, etc.).
		p Along with a bunch of coding projects that I work on, I also do a lot of system administration work. I selfhost virtually every major online service I use, and I'm also interested in the <a href="http://mediagoblin.org/news/userops">userops movement</a> as a way to empower less technically-inclined people to do the same. In a similar vein, I'm extremely interested in federated networks and spend a large portion of my free time contributing to <a href="http://pump.io">pump.io</a> in particular.
		p This is probably obvious by now, but I'm a vocal supporter of digital freedom. I'm strongly opposed to things like SOPA, DRM, and Restricted Boot. I'm also a proud GNU, *nix, and freedom-respecting software heretic.
		p Finally, I very much enjoy dance, photography (I prefer traditional black and white film), and poetry.
	section
		h2#learn Stuff I want to learn
		p Like I said, I love code. So here's an incomplete, unorganized list of technologies that I want to learn:
		ul
			li C
			li Plan 9-style C
			li Rust
			li Haskell
			li Common Lisp
			li Pony
			li Limbo
			li Perl
			li Smalltalk
			li x86 assembly

		p ...and also some technologies that I'm <em>vaguely</em> interested in learning at some point:
		ul
			li Vala (and associated technologies)
			li GTK+
			li Crystal
			li Scheme
			li PHP - basically so I can contribute to existing projects using it.

		p ...and also some technologies that I've learned to varying degrees but want to learn more of:
		ul
			li HTML/CSS/JavaScript - I know these fairly well, but I could improve. (Also, as an aside, this site is deliberately bare-bones, because I like that style and not because I can't do better.)
			li node.js
			li POSIX sh
			li Java, mostly for Android development
			li Python
			li DebHelper
			li ELisp
			li Brainfuck
	section
		h2#steevie steevie
		p To run my selfhosted stuff, I run a server called steevie. steevie is supposed to be a traditional UNIX server (in addition to his duties as a server server), which isn't really relevant anymore - now that you can run Xorg on a laptop without swapping - but still fun. He has a longish history of installations, but he currently runs Debian Jessie.
