extends ./includes/layout

block head
	title Home - strugee.net
	meta(name='description', content='AJ Jordan\'s home page')
	link(rel='pingback', href='https://webmention.io/strugee.net/xmlrpc')
	link(rel='webmention', href='https://webmention.io/strugee.net/webmention')

block nav-home
	li.navlink Home

block content
	section
		h2#hi Hi!
		p Heyo, I'm <span class="p-name">AJ Jordan</span>, sometimes known as Alex. I'm 23, live in New York City, and write code - sometimes for open source/<a href="https://www.gnu.org/philosophy/free-sw.html">freedom-respecting software</a>, sometimes for my employer <a href="https://www.january.com/">January</a> (<a href="https://www.january.com/careers">we're hiring</a>!).
	section
		h2#passions Passions of mine
		p I like to write code. I primarily prefer to write projects in JavaScript, and consider myself pretty good at it. I'm a very big Unix fan and use the commandline for virtually everything (I frequently use GNU coreutils - stuff like <code>ls</code>, <code>mv</code>, <code>cp</code>, etc. - instead of a graphical file manager).
		p Along with <a href="/projects/">the coding projects</a> that I work on, I also do a lot of system administration work. I selfhost virtually every major online service I use, and I'm also interested in the <a href="https://mediagoblin.org/news/userops.html">userops movement</a> as a way to empower less technically-inclined people to do the same. In a similar vein, I'm extremely interested in federated networks and spend a large portion of my free time contributing to <a href="http://pump.io">pump.io</a> in particular.
		p This is probably obvious by now, but I'm a vocal supporter of digital freedom. I believe in sticking to my values and I choose my digital products carefully with a lens towards whether they respect my fundamental rights to privacy, security, and <a href="https://www.gnu.org/philosophy/free-sw.html">software freedom</a>.
		p Finally, I very much enjoy dance, poetry, and photography - I prefer traditional black and white film.
	section
		h2#learn Stuff I'm good at
		p Like I said, I love code (though I have, as I suspect many others do too, a complicated relationship with it). So in that vein, here's some types of code that I'm good at writing:
		ul
			li HTML/CSS/JavaScript - I know these fairly well, but I could improve. (I could also get way better at website design, although I'm pretty happy with this site's weird style - try the buttons in the lower-right, maybe?)
			li node.js
			li POSIX sh
			li C
			li Java, mostly for Android development
			li Python
		p and some types of code that I sort of know but am not super good at:
		ul
			li Debian packaging
			li ELisp
			li Brainfuck
			li Common Lisp
		p and some types of code that I don't at all know how to write but would love to learn... someday:
		ul
			li Plan 9-style C
			li Rust
			li Haskell
			li Pony
			li Perl
			li Smalltalk
			li x86 assembly
			li Vala (and associated technologies)
			li GTK+
		p If I had unlimited time I would also be at the very least vaguely interested in learning Limbo, Crystal, Scheme and PHP (the last mostly to contribute to existing projects), but sadly I definitely do <em>not</em> have unlimited time. C'est la vie.
	section
		h2#steevie steevie
		p To run my selfhosted stuff, I run a server called steevie. steevie is supposed to be a traditional UNIX server (in addition to his duties as a server server), which isn't really relevant anymore - now that you can run Xorg on a laptop without swapping - but still fun. He has a longish history of installations, but he currently runs Debian Bullseye (with a mix of Buster and Bullseye #[a(href="https://linuxcontainers.org/lxd/") LXD] containers).
