extends ./includes/layout

block head
	title Services - strugee.net
	meta(name='description', content='Services run by AJ Jordan')

block content
	section
		h2 Services
		p All services here will eventually be backed by an LDAP directory, but for now, they're kind of all hacked together with different account backends.
		#ssh.serviceblock
			h3
				a(href='ssh://ssh.strugee.net') SSH
			p SSH requires an SSH client and an account on the local Debian system (to request an account, <a href="mailto:hostmaster@strugee.net">email hostmaster</a>).
			p In case this link doesn't work, you can connect to <code>strugee.net</code> as usual on port 22 (<code>ssh [username]@strugee.net</code>). (This page used to recommend you connect to <code>ssh.strugee.net</code>, but that is no longer necessary as of the move away from <a href="https://pages.github.com/">GitHub Pages</a>.)
		#mail.serviceblock
			h3 Mail
			p I run all my personal mail off <code>strugee.net</code>. If you're having problems with the mail services running on strugee.net, contact <a href="mailto:postmaster@strugee.net">postmaster</a>.
		// Link backwards-compatibility
		#owncloud
		#nextcloud.serviceblock
			h3
				a(href='https://cloud.strugee.net/') Nextcloud
			p I run an instance of <a href="https://nextcloud.org/">Nextcloud</a> at <a href="https://cloud.strugee.net/">this location</a>.

		#wiki.serviceblock
			h3
				a(href='https://wiki.strugee.net/') MediaWiki
			p <a href="https://wiki.strugee.net/"><code>wiki.strugee.net</code></a> currently runs an instance of <a href="https://mediawiki.org/">MediaWiki</a>. It's used to document server configuration. You can find the exact details of services on <code>strugee.net</code> there, as well as less important services not listed here.
