extends ./includes/layout

block head
	title Talks - strugee.net
	meta(name='description', content='Talks by AJ Jordan')

block nav-talks
	li.navlink Talks

block content
	h1 Talks
	p All of these presentations were built with &lt;3 with 
		a(href='https://github.com/bespokejs/bespoke') Bespoke.js
		|  with the exception of "Introduction to Arch Linux" (which was written with &lt;3 using LibreOffice Impress).
	section
		h2#intro-to-arch-linux.talk-title Introduction to Arch Linux
		blockquote.talk-description
			p An introduction to Arch Linux - why it's awesome, how to use the tools that it provides, and how to interact with the community.
			p The presentation will roughly cover:
			ul
				li The Arch Way (basic philosophy of the distro, etc.)
				li A basic outline of the system installation procedure
				li How to use pacman, the PACkage MANager, and the AUR, the Arch User Repository (where you get software not in the official repos)
				li How to engage with the community/get help (and not get flamed)
		p Presented at 
			a(href='http://2014.linuxfestnorthwest.org/2014/sessions/introduction-arch-linux') LinuxFest Northwest 2014
			| .
		//p Available in 
			//a(href='TODO') slide form
			//| .
	hr

	section
		h2#just-do-it.talk-title Just Do It: The Approachability of Free Software for Beginners
		blockquote.talk-description
			p We all know that one of free software's greatest strengths is the ability to do whatever you're interested in, without asking for permission. But even though we all know, we don't talk about it that much, and in particular, we don't talk about the significance of what that strength means for those who are just beginning their programming careers.
			p "Just Do It - The Approachability of Free Software for Beginners" will put forth the idea that the #[em only] tools that are approachable for beginners while still leading to the ability to produce what we would call "high quality" software are all free software tools. It will talk about the ability of free and open source software to inspire curiosity and interest and the role of that curiosity in bringing new programmers into our community. Finally, it will explore some of the areas that this model fails in, and what we can do to fix it.
		p Presented at 
			a(href='https://osem.seagl.org/conference/seagl2015/program/proposal/78') SeaGL 2015
			| .
		p Available in 
			a(href='https://strugee.net/presentation-just-do-it') slide form
			|  and 
			a(href='https://github.com/strugee/presentation-just-do-it') source form
			| .

	hr

	span#rc-security
	p I've written several longer presentations for workshops run at the #[a(href='https://www.recurse.com') Recurse Center].

	script(async, defer, src='https://www.recurse-scout.com/loader.js?t=3d49e64361d4b897ffd2fd56dcd93ca4')

	section.rc-presentation
		h2.talk-title
			a(href='https://strugee.net/presentation-security-design') Security design
		p How to design programs securely

	section.rc-presentation
		h2.talk-title
			a(href='https://strugee.net/presentation-webapp-security') Webapp security
		p How to secure webapps

	section.rc-presentation
		h2.talk-title
			a(href='https://strugee.net/presentation-operational-security') Operational security
		p How to run a secure production environment

	section.rc-presentation
		h2.talk-title
			a(href='https://strugee.net/presentation-https-deployment') HTTPS deployment
		p Basics of HTTPS and how to deploy it

	section.rc-presentation
		h2.talk-title
			a(href='https://strugee.net/presentation-cryptography-basics') Cryptography basics
		p Basics of cryptographic protocol design

	hr

	section
		h2(id='pump.io-community').talk-title Pump.io + Community = ♥
		blockquote.talk-description
			p Pump.io is a promising project to create a federated social network. It was abandoned for a while, but its maintainer has recently started transferring governance and code maintenance to the community. Come to this talk to learn details about what Pump.io is, why it's awesome, and the future plans for it.
			p This was originally a lightning talk dealing mostly with the community, but was expanded to a full session. The extra time was used to talk a little about the history of where pump.io comes from and its API.
		p Original 
			a(href='https://www.linuxfestnorthwest.org/2016/sessions/pumpio-community') LinuxFest Northwest 2016
			|  version available in 
			a(href='/presentation-pumpio') slide form
			| , 
			a(href='https://github.com/strugee/presentation-pumpio/releases/tag/lfnw-2016') source form
			| , and on 
			a(href='https://media.strugee.net/u/alex/m/linuxfest-northwest-2016-pump-io-the-community/') MediaGoblin
			|  and 
			a(href='https://www.youtube.com/watch?v=uQ6RVTFdYNc') YouTube
			| .
		p Also presented at 
			a(href='https://libreplanet.org/2017/program/') LibrePlanet 2017
			| ; available in 
			a(href='/presentation-pumpio/libreplanet') slide form
			| , 
			a(href='https://github.com/strugee/presentation-pumpio') source form
			| , and on 
			a(href='https://media.libreplanet.org/u/libreplanet/m/pump-io-the-federated-extensible-social-network/') MediaGoblin
			| .

	hr

	section
		h2#stratic.talk-title Stratic - the (super-modular) streaming static site generator
		blockquote.talk-description
			p Do you like the idea of static site generators - programs that spit out HTML files that can be served by any old webserver, #[em without] invoking a huge steaming pile of PHP - but find that Jekyll is way overcomplicated? Wintersmith too monolithic? Perhaps Pelican isn't flexible enough?
			p If the above sounds like you, and you appreciate Node.js and the npm ecosystem's preference for small modules (aka the #[a(href='https://en.wikipedia.org/wiki/Unix_philosophy#Doug_McIlroy_on_Unix_programming') Unix Philosophy]), you'll love working with Stratic. This talk will teach you about a new kind of static site generator that, instead of reinventing the world (or wrapping it with brand-new plugins), builds on top of existing npm modules in order to provide you with greater modularity, flexibility, and clarity than any monolithic static site generator can hope to offer. Best of all, there's no steep learning curve: if you already know Gulp.js - and it isn't that hard to pick up - then you already know how to use Stratic.
		p Presented at 
			a(href='http://2017.linuxfestnorthwest.org/2017/sessions/stratic-super-modular-streaming-static-site-generator') LinuxFest Northwest 2017
			| .
		p Available in 
			a(href='https://strugee.net/presentation-straticjs') slide form
			|  and 
			a(href='https://github.com/strugee/presentation-straticjs') source form
			| , as well as on 
			a(href='https://www.youtube.com/watch?v=a9l-FmSgyt8') YouTube
			| .

	hr

	section
		h2#cryptoparty CryptoParty Seattle
		blockquote
			p CryptoParties are a global movement of people who get together to teach each other basic privacy tools, in order to ensure their right to privacy from spying eyes like Internet Service Providers, corporations like Google and Facebook, and the government (including the NSA!).
			p Participants will learn how to protect themselves against mass surveillance with technologies like:
			ul
				li Tor Browser Bundle
				li Tor Messenger
				li Signal
			p No prior experience is required.
		p Presented at TA3M Seattle's 
			a(href='https://lists.openitp.org/pipermail/ta3m-seattle/2014-August/000028.html') August 2014
			| , 
			a(href='https://lists.openitp.org/pipermail/ta3m-seattle/2015-June/000061.html') June 2015
			| , and 
			a(href='https://ta3mseattle.org/index.php/CryptoParty_Seattle_III_-_December_2016') December 2016
			|  meetings. (The above description was written for the most recent event; earlier CryptoParties covered PGP, used Pidgin instead of Tor Messenger, and had different honorable mentions.)
		p All three versions available in 
			a(href='/cryptoparty-seattle/') slide form
			| .

	hr

	span#robotics-presentations
	p There are also a couple smaller/less interesting presentations written as 10-minute topic introductions for Seattle Academy's robotics program.

	section.small-robotics-presentation
		h2.talk-title
			a(href='http://saasrobotics.com/presentation-robotc-basics') RobotC basics
		p Introductory presentation on RobotC (back when FTC #[em used] RobotC - thank god those days are over!).

	section.small-robotics-presentation
		h2.talk-title
			a(href='http://saasrobotics.com/presentation-sensors')  Sensors
		p An overview of sensors available in robotics. Also written during the NXT/RobotC days.
