extends ./includes/layout.jade

block head
	title Talks - strugee.net
	meta(name='description', content='Talks by ')

block nav-talks
	li.navlink Talks

block content
	h1 Talks
	p All of these presentations were built with &lt;3 with Bespoke.js with the exception of "Introduction to Arch Linux" (which was written with &lt;3 using LibreOffice Impress).
	section
		h2.talk-title Introduction to Arch Linux
		blockquote.talk-description
			p An introduction to Arch Linux - why it's awesome, how to use the tools that it provides, and how to interact with the community.
			p The presentation will roughly cover:
			ul
				li The Arch Way (basic philosophy of the distro, etc.)
				li A basic outline of the system installation procedure
				li How to use pacman, the PACkage MANager, and the AUR, the Arch User Repository (where you get software not in the official repos)
				li How to engage with the community/get help (and not get flamed)
		p Presented at 
			a(href='http://2014.linuxfestnorthwest.org/2014/sessions/introduction-arch-linux') LinuxFest Northwest 2014
		//p Available in 
			//a(href='TODO') slide form
			//| .
	hr

	section
		h2.talk-title Just Do It: The Approachability of Free Software for Beginners
		blockquote.talk-description
			p We all know that one of free software's greatest strengths is the ability to do whatever you're interested in, without asking for permission. But even though we all know, we don't talk about it that much, and in particular, we don't talk about the significance of what that strength means for those who are just beginning their programming careers.
			p "Just Do It - The Approachability of Free Software for Beginners" will put forth the idea that the #[em only] tools that are approachable for beginners while still leading to the ability to produce what we would call "high quality" software are all free software tools. It will talk about the ability of free and open source software to inspire curiosity and interest and the role of that curiosity in bringing new programmers into our community. Finally, it will explore some of the areas that this model fails in, and what we can do to fix it.
		p Presented at 
			a(href='https://osem.seagl.org/conference/seagl2015/program/proposal/78') SeaGL 2015
		p Available in 
			a(href='https://strugee.net/presentation-just-do-it') slide form
			| .

	hr

	section
		h2.talk-title Pump.io + Community = ♥
		blockquote.talk-description
			p Pump.io is a promising project to create a federated social network. It was abandoned for a while, but its maintainer has recently started transferring governance and code maintenance to the community. Come to this talk to learn details about what Pump.io is, why it's awesome, and the future plans for it.
			p This was originally a lightning talk dealing mostly with the community, but was expanded to a full session. The extra time was used to talk a little about the history of where pump.io comes from and its API.
		p Presented at 
			a(href='https://www.linuxfestnorthwest.org/2016/sessions/pumpio-community') LinuxFest Northwest 2016
		p Available in 
			a(href='/presentation-pumpio') slide form
			|  and on 
			a(href='https://media.strugee.net/u/alex/m/linuxfest-northwest-2016-pump-io-the-community/') MediaGoblin
			|  and 
			a(href='https://www.youtube.com/watch?v=uQ6RVTFdYNc') YouTube
			| .

	hr

	p There are also a couple smaller/less interesting presentations written as 10-minute topic introductions for Seattle Academy's robotics program.

	section.small-robotics-presentation
		h2.talk-title
			a(href='http://saasrobotics.com/presentation-robotc-basics') RobotC basics
		p Introductory presentation on RobotC (back when FTC #[em used] RobotC - thank god those days are over!).

	section.small-robotics-presentation
		h2.talk-title
			a(href='http://saasrobotics.com/presentation-sensors')  Sensors
		p An overview of sensors available in robotics. Also written during the NXT/RobotC days.
