extends ../includes/layout

block head
	title Projects - strugee.net
	meta(name='description', content='AJ Jordan\'s projects')

block nav-projects
	li.navlink Projects

block content
	h1 Projects

	p See also #[a(href='/projects/archived') archived projects].

	section
		h2 External projects
		p (Or in other words, other people's projects I work on.)
		h3.maintainer-status-header
			a(href='http://pump.io/') pump.io
		span.maintainer-status Primary maintainer
		p Federated, decentralized stream server that does most of what people really want from a social network. Highly extensible via a big beautiful ActivityStreams API.
		h3.maintainer-status-header
			a(href='http://prism-break.org/') PRISM Break
		span.maintainer-status Comaintainer
		p Opt out of global data surveillance programs like PRISM, XKeyscore and Tempora. Help make mass surveillance of entire populations uneconomical!

	section
		h2 Completed projects

		h3
			a(href='https://github.com/strugee/filter-other-days') filter-other-days
		p Filter for today's date in logfiles in an Artificial Ignorance-compatible way. Or in other words, make sure you never miss logs from today, even if you forget about stuff or if #[code filter-other-days] can't handle your logfile format.
		p You can read more about the background of and impetus for this design #[a(href='/blog/2017/10/announcing-filter-other-days') on my blog].

		h3
			a(href='https://nodecompat.com') nodecompat.com
		p In <a href="http://pump.io">pump.io</a> we needed to look into what Node versions different Linux distributions ship, so we could figure out when we could drop support for old Node versions. So I went and looked at a bunch of distribution sites, put all the data into a nice JSON file, wrote some nice <a href="http://jade-lang.com/">Jade</a> to display it, and put it up on <a href="https://nodecompat.com">nodecompat.com</a>.
		p Eventually, I'll add a neat JS-powered selector that lets you interactively filter distros and versions based on what Node versions you're willing to support and/or what distributions you know you <em>have</em> to support. In the meantime, though, the site fufills its original purpose. Hence, "completed".

		h3
			a(href='https://github.com/strugee/lazymention') lazymention
		p lazymention helps you send Webmentions for your static <a href="https://indieweb.org/">IndieWeb</a> site. When you publish to your site, you ping lazymention, and it will poll your site, parse the microformats2 markup, and send Webmentions for content it hasn't seen before.
		p Support for sending WebSub notifications is planned for some point in the future.

		h3
			a(href='https://github.com/strugee/fulldom-server') fulldom-server
		p fulldom exposes a single endpoint at <code>/&lt;url&gt;</code> which, when sent an HTTP GET request, will give you back the serialized DOM of the page at <code>&lt;url&gt;</code> when the page's JS has "finished running". "Finished running" is in quotes because determining when a page's JS is "finished running" is basically impossible, so the point at which the DOM is serialized is based on a user-provided heuristic.
		p This is useful for scraping webpages which fill in their content with JS (i.e. webpages that <a href="http://tantek.com/2015/069/t1/js-dr-javascript-required-dead">suck at being webpages</a>) with, say, <a href="https://github.com/cantino/huginn">Huginn</a>.

		h3
			a(href='https://offandonagain.org') offandonagain.org
		p For those times when you just gotta ask: have they tried turning it off and on again? Returns random GIFs (mostly). Conceived during the week of Open Source Bridge 2017.
		p The source (and more documentation) is <a href="https://github.com/strugee/offandonagain.org">on GitHub</a>. The <a href="https://github.com/strugee/node-serve-random">underlying module</a> is too.

		h3
			a(href='https://github.com/strugee/gh-pages-bootstrap') gh-pages-bootstrap
		p Recreate the URL scheme that GitHub Pages gives you, to avoid breaking links if you move to your own server. Currently it's a little aggressive (it deploys forks, which GitHub Pages does not) and could use some more features, but it gets the job done. Written primarily because I had this exact problem when moving to steevie.

	section
		h2 Ongoing projects

		h3
			a(href='https://github.com/strugee/dots') Dotfiles
		p I keep all my dotfiles on GitHub. This repository is ever-improving, because I spend way too much time customizing/playing with my environment and not enough time doing real work.

		h3
			a(href='https://github.com/strugee/steevie') steevie
		p The continual maintenance and improvement of steevie. This includes both traditional system administration work as well as SaltStack stuff.

		h3
			a(href='https://stratic.js.org') Stratic
		p Stratic is the streaming static site generator. It's comparible to Jekyll or Wintersmith, but instead of having a monolithic framework that you have to learn, it's all implemented in streaming Node.js modules orchestrated using Gulp. That means that not only do you have the power of The Node Way&trade; - small, composable modules that can easily be swapped out for something different - but you have the power of all of npm, too. Zero plugins required.

		h3
			a(href='https://atlas.torproject.org/#details/C3CFCC9B5993A6F0D1349858C598C4A78AFE51F9') Tor relay
		p I have maintained a Tor relay, #[code strugees], since February 2nd, 2014. It was originally descended from the now-defunct #[a(href='https://cloud.torproject.org/') Tor Cloud] project, so it ran Ubuntu.
		p In March 2017 the relay crashed due to an unresolvable boot problem - I took this as an opportunity to properly configure the relay from scratch as well as switch to FreeBSD to improve the network diversity. I brought the new relay online August 5th 2017. Its configuration is version-controlled #[a(href='https://github.com/strugee/torrc') on GitHub].

	section
		h2 Projects on the back-burner

		h3
			a(href='fractured-reality/') Fractured Reality
		p An exploration game like no other.

		h3
			a(href='https://github.com/strugee/emergence-story') emergence-story
		p Experimental story software that utilizes the concept of emergence.

